name: Slack User Release

on:
  workflow_dispatch:
  push: 
    branches: 
      - main
    paths:
      - '.github/workflows/release.yml'
      - 'src/**'
      - 'dist/**'
      - 'action.yml'
      - 'GitVersion.yml'

jobs:
  release:
    name: Create a Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Branch
        uses: actions/checkout@v5
        with:
          ref: ${{ github.sha }}
          fetch-depth: 0

      - name: Install GitVersion Tool
        uses: gittools/actions/gitversion/setup@d0139503a9321f76b4a417dfdc8aebcec24decdd
        with:
          versionSpec: '6.3.0'

      - name: Calculate SemVer
        id:   gitversion
        uses: gittools/actions/gitversion/execute@d0139503a9321f76b4a417dfdc8aebcec24decdd
        with:
          configFilePath: GitVersion.yml

      - name: Create a release for new tag
        run: |
          gh release create ${{ steps.gitversion.outputs.majorMinorPatch }} --title "${{ steps.gitversion.outputs.majorMinorPatch }}" --generate-notes